 
<launch>

<arg name="ns_setup" default="setup1/sensor1"/>
<!-- <arg name="ns_setup" default="setup1/sensor2"/> -->

<group ns="$(arg ns_setup)">
	<include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
		<arg name="camera"          value="camera"/>
		<arg name="serial_no"          value="821212062772"/>
		<arg name="json_file_path"     value="$(find realsense2_camera)/json_config/H_acc.json"/>
	</include>

	<node pkg="realsense2_camera" name="realsense_bridge" type="realsense_bridge_node" output="screen"/>
</group>
</launch>
